:root {
    --main-color: #468e90;
}

#logo {
    max-width: 100px;
}

.nav-link {
    color: var(--main-color) !important;
}

.nav-link:hover {
    color: darken(var(--main-color), 10%) !important;
}

.card {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}



.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #b7c4c9; /* or use #b7c4c9 for the hover color */
    border-color: #91b2b6; /* or use #91b2b6 for the hover border color */
    box-shadow: none; /* Esto elimina el resplandor que Bootstrap añade alrededor de los botones */
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    outline: none; /* Removes the default outline */
    box-shadow: none;
}
footer {
    background-color: var(--main-color);
    color: white;
}
