body{
    background-color: #dde6ec;
}


  
/* Establecer la tarjeta y el cuerpo de la tarjeta para utilizar flexbox */
.card {
  display: flex;
  flex-direction: column; /* Organiza los hijos de la tarjeta en una columna */
  height: 100%; /* Asegúrate de que la tarjeta ocupe el 100% de la altura disponible de su contenedor */
}

.card-body {
  flex-grow: 1; /* Asegúrate de que el cuerpo de la tarjeta ocupe todo el espacio disponible */
  display: flex;
  flex-direction: column; /* Organiza los hijos del cuerpo de la tarjeta en una columna */
}

.card-body a {
  margin-top: auto; /* Empuja el enlace hacia la parte inferior del cuerpo de la tarjeta */
}

  
/* Estilo para el título 'Propiedades Destacadas' */
.destacadas-title {
    font-family: 'Open Sans', sans-serif; /* Añade la fuente de Google Fonts */
    font-size: 2rem; /* Ajusta el tamaño de la fuente a tu gusto */
    font-weight: 600; /* Peso de la fuente semi-negrita */
    color: #305656; /* Un color oscuro para el texto */
    text-transform: uppercase; /* Opcional: transforma el texto a mayúsculas */
    margin-top: 1rem; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 1rem; /* Ajusta el margen inferior para dar espacio */
    padding-top: 0; /* Ajusta el relleno superior si es necesario */
    padding-bottom: 0.25rem; /* Espacio para la línea decorativa si es necesario */
    border-bottom: 3px solid #468e90; /* Línea decorativa con el color de la marca */
    text-align: center; /* Centra el texto */
}



.container {
    width: 100;
    height: 100;
}

.navbar{
    width: 80;
    margin: auto;
    padding: 35px 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

.logo{
    max-width: 180px; 
    cursor: pointer;
    top: 10px; 
    left: 10px; 
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background:#468e90;
    position: absolute;
    left: 0px;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li:hover::before {
    width: 100%;
}

:root {
    --main-color: #468e90;
}


.card {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn-primary:hover {
    transform: scale(1.2); 
    transform: scale(1.05); /* Reduce el valor de escala para evitar que se salga de la pantalla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }


.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #b7c4c9; /* or use #b7c4c9 for the hover color */
    border-color: #91b2b6; /* or use #91b2b6 for the hover border color */
    box-shadow: none; /* Esto elimina el resplandor que Bootstrap añade alrededor de los botones */
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    outline: none; /* Removes the default outline */
    box-shadow: none;
}
footer {
    background-color: var(--main-color);
    color: white;
} 

#img1{ 
    position: relative; top: 100px;
}
#imagen1{ 
    position: relative; left: -180px;  
    position: relative; right: 40px; 
    position: relative; top: 190px;  
}

#imagen2{ 
 position: relative; left: -100px;  
 position: relative; right: 10px; 
 position: relative; top: 95px; 
} 
.contact-title {
    font-size: 2.5rem; /* Aumenta el tamaño del título */
    margin-bottom: 1rem; /* Ajusta el espaciado debajo del título si es necesario */
}

.contact-info p,
.opening-hours h3,
.opening-hours p {
    font-size: 1.2rem; /* Ajusta el tamaño del texto para la información de contacto y el horario */
    margin-bottom: 0.5rem; /* Ajusta el espaciado entre los elementos del texto */
}

.map-container iframe {
    width: 100%; /* Asegúrate de que el mapa se estire a lo ancho */
    height: 300px; /* Aumenta la altura del mapa */
    border: none; /* Remueve el borde si es necesario */
}

.map-container iframe {
    width: 100%; /* Asegúrate de que el mapa se estire a lo ancho */
    height: 300px; /* Aumenta la altura del mapa */
    border: none; /* Remueve el borde si es necesario */
}

